* {
    scroll-behavior: smooth;
}

.app {
    min-height: 100vh;
    background-color: #2e323a;
    color: white;
    padding-top: 90px;
	padding-bottom: 100px;
    font-weight: 300;
}

@media (max-width: 700px) {
    .app {
        padding-top: 70px;
    }
}

.pageTitle {
    text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-size: 3vw;
	padding: 4px;
	padding-bottom: 40px;
	border-radius: 50px;
	color: rgb(246, 244, 244);
	font-weight: 300;
    font-family: 'Algerian';
}

@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6.4vw;
    }
}